<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connection" connectionString="SERVER=37.6.217.38; DATABASE= Learn_English; USER ID = TestUser; PASSWORD = TestPassword ; "
      providerName="System.Data.SqlClient" />
    <add name="Learn_English.Properties.Settings.Learn_EnglishConnectionString"
      connectionString="Data Source=37.6.217.38;Initial Catalog=Learn_English;Persist Security Info=True;User ID=TestUser;Password=TestPassword"
      providerName="System.Data.SqlClient" />
    <add name="Learn_English.Properties.Settings.Learn_EnglishConnectionString1"
      connectionString="Data Source=37.6.217.38;Initial Catalog=Learn_English;Persist Security Info=True;User ID=TestUser;Password=TestPassword"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>